Source: tcpsplice
Section: net
Priority: optional
Maintainer: Pierre-Yves Kerembellec <py.kerembellec@gmail.com>
Build-Depends: debhelper (>= 5), golang-1.17
Standards-Version: 3.7.2

Package: tcpsplice
Architecture: any
Description: advanced TCP connection splicer
